.view {
  background: url("/src/assets/skola.jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  z-index: 1;
  background-color: #00A99D !important;

}
.navbar-dark{
  background-color: #00A99D !important;

}
.green{
  background-color: #00A99D !important;
}
.color {
  background-color: #00A99D !important;

}
.nvb {
  background-color: #00A99D !important;

}
.fixed-top{
  background-color: #00A99D !important;

}
